@model IEnumerable<Sedc.MusicManager.WebApp.ViewModels.SongWithAlbumViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Song.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Song.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Song.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Song.AlbumId)
        </th>
        <th>
            Album
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Song.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Song.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Song.Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Song.AlbumId)
        </td>
        <td>
            @item.AlbumTitle
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Song.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Song.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Song.Id })
        </td>
    </tr>
}

</table>
