@model Sedc.MusicManager.WebApp.ViewModels.SongWithAlbumViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Song</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Song.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Song.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Song.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Song.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Song.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Song.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlbumTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlbumTitle)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Song.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
